body {
	background: skyblue;
	font-family: sans-serif;
}
#wrapper {
	margin-top: 10%;
    margin-left: 32.5%;
    text-align: center;
}
#content {
	background: lightyellow;
	padding: 25px;
}
#content > h1 {
	font-size: 40px;
	text-align: center;
	padding-top: 0;
}
.two_btn {
	margin-top: 10px;
}
.ToDoList {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: lightyellow;
}
#add-btn {
	background-color: peru;
	border-color:peru;
}
.btn-warning{
margin-right: 5px;
}
